[submodule ".STS2-Ritsulib"]
	path = .STS2-Ritsulib
	url = https://github.com/BAKAOLC/STS2-RitsuLib.git
[submodule "STS2-RitsuLib"]
	path = STS2-RitsuLib
	url = https://github.com/BAKAOLC/STS2-RitsuLib.git
